* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --main-color: #0079ff;
  --main-color-hover: #60abff;

  --white: #fff;

  --gray-50: #f6f8ff;
  --gray-100: #697c9a;
  --gray-200: #4b6a9b;
  --gray-300: #2b3442;
  --gray-400: #1e2a47;
  --gray-500: #141d2f;

  --error-color: #f74646;

  --shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

body {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--gray-50);
}

body[data-theme="dark"] {
  background-color: var(--gray-500);
}

a {
  font-family: "Space Mono", monospace;
}
